<div class="row" id="cont">
  <div class="sticky">
    <h1>{{ page.title }}</h1>
    <p>{{ page.content }}</p>
    <h2>{{ page.subtitle }}</h2>
    <div>
      <ul
        *ngFor="let link of links; let i = index"
        [attr.data-index]="i"
        style="list-style-type: none"
      >
        <li class="contact">
          <a href="{{ link }}">{{ linkTitles[i] }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-row">
    <div class="column">
      <app-project></app-project>
    </div>
  </div>
  <div class="pfp">
    <img [src]="page.image" width="60%" border-radius="50px" />
  </div>
</div>
