<div class='row' id='cont'>
    <div class='sticky'>
        <div class='logo'>
            <img src={{page.logo}} width='13%'/>
        </div>
        <h1>{{page.title}}</h1> 
        <p>{{page.content}}</p>
    </div>
    <div class='scroll-row'>
    <div class='column'>
        <div  *ngFor="let image of page.imagesLeft">
            <img [src]='image'width='100%'/>
        </div>
    </div>
    <div class='column'>
        <div  *ngFor="let image of page.imagesRight">
            <img (click)="openDialog()" [src]='image'width='100%'padding='100px'/>
        </div>
    </div>
</div>
</div>


