<div class="navbar">
  <mat-toolbar color="primary">
    <span class="spacer"></span>
    <div class="navitem">
      <a mat-button [routerLink]="['home']" routerLinkActive="active">HOME</a>
    </div>
    <div class="navitem">
      <a mat-button [routerLink]="['projects']" routerLinkActive="active"
        >PROJECTS</a
      >
    </div>
    <div class="navitem">
      <a mat-button [routerLink]="['illustration']" routerLinkActive="active"
        >ILLUSTRATIONS</a
      >
    </div>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
