a {
  font-size: 16px;
  color: #707070;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.navbar {
  position: fixed;
  top: 0;
  background-color: white;
  width: 110%;
  padding-top: 10px;
}
#navitem {
  color: #16b978;
}
.navitem a:hover {
  text-decoration-line: line-through;
}

.active {
  color: #16b978;
}
