<div class="row" id="cont">
  <div class="column">
    <ul *ngFor="let project of projectsL" style="list-style-type: none">
      <li (click)="openDialog(project)">
        <img [src]="project.cover" />
        <h2>
          <b>{{ project.title }} </b>{{ project.subtitle }}
        </h2>
      </li>
    </ul>
  </div>
  <div class="column">
    <ul *ngFor="let project of projectsR" style="list-style-type: none">
      <li (click)="openDialog(project)">
        <img [src]="project.cover" />
        <h2>
          <b>{{ project.title }} </b>{{ project.subtitle }}
        </h2>
      </li>
    </ul>
  </div>
</div>
